/* variables */
:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
	box-sizing: border-box;
	font-family: sans-serif;
	color: var(--dark);
}

body {
	background: #ccc;
	margin: 0;
	padding: 0; 
	line-height: 1.4;
}

/*  NAVIGACE  0.6rem display grid flex */










.event{
	color:red;
}